**/build/
.docker_pkg_hash
.env
.vscode/
.ruff_cache/
.mypy_cache/
node_modules/

# Python
__pycache__/
*.py[cod]

convert.py
convert_all.py
debug.py
venv/
test_img/
docs/paper-research/md-downloaded-paper-curated/images/
docs/paper-research/md-downloaded-paper-professor/images/
images_to_mermaid.py
test_gemini.py
